/* src/index.css */
:root {
  /* Permite que el navegador adapte algunos elementos UI nativos (ej. scrollbars)
     si implementas un tema oscuro con MUI más adelante. */
  color-scheme: light dark;

  /* Optimizaciones de renderizado de fuente, generalmente buenas prácticas. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Un fallback de fuente muy genérico si todo lo demás falla.
   MUI usará la fuente definida en theme.ts para sus componentes. */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0; /* CssBaseline también se encarga de esto, pero no hace daño repetirlo. */
}

/* Los estilos específicos para 'a', 'h1', 'button', etc.,
   se manejan mejor a través de las sobrescrituras del tema de MUI
   para MuiLink, MuiTypography, MuiButton, respectivamente,
   para asegurar consistencia con el resto de los componentes de MUI. */